*{
    margin:0;
    padding:0;
}

.hide{
    display:none;
}

.car{
    height:120px;
    border-radius: 10px;
    width:50px;
    position:absolute;
    bottom:120px;
    background:url(/images/car2.jpg);
    background-repeat: no-repeat;
    background-size: 50px 120px;


.carGame{
    width:100%;
    height:100vw;
    background: #006400;
    /*background: url(back.jpg);*/
    background-repeat:no-repeat;
    background-size:100% 100%;
}