@charset "utf -8";
/*css Document*/
.about.container{
    width:100%;
    height: 650px;
    background-color: midnightblue;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items:center ;

}

.about-container img{
    height:120px ;

}

.about-text{
    width:500px ;
    color: #FFFFFF;
    font-size: 40px;

}

.about-text p:nth-child(1){
    color:#FFFFFF;
    font-family: "myriad pro regular";
    font-weight: bold;
    font-size: 35px;
    line-height:0px ;

}

.about-text p:nth-child(2){
    color:lightseagreen;
    font-size:20px ;
    font-family: "myriad pro regular";
    font-weight: bold;
    line-height:5px ;
}

.about-text p:nth-child(3),
.about-text p:nth-Child(4){
    color:#000000 ;
    font-family: Calibri;
    font-size:30px;
}


@media all and (width: 320px) {

@charset "utf -8";
    /*css Document*/
    .about.container {
        width: 320px;
        height: 650px;
        background-color: midnightblue;

        display: flex;
        bottom: 200px;
        text-align: center;
    }

    .aboutPic{
        width: 130px;
        height: 100px;
        margin-left: 8px;


    }


    .about-text {
        width: 600px;
        alignment: center;

    }

    .about-text p:nth-child(1) {
        color: black;
        font-family: "myriad pro regular";
        font-weight: bold;
        font-size: 30px;
        line-height: 300px;



    }

    .about-text p:nth-child(2) {
        color: lightseagreen;
        font-size: 20px;
        font-family: "myriad pro regular";
        font-weight: bold;
        line-height: 20px;




    }

    .about-text p:nth-child(3),
    .about-text p:nth-Child(4) {
        color: white;
        font-family: Calibri;
        font-size: 15px;
        font-weight: bold;
        text-align: center;

    }

}


@media all and (width: 375px) {

@charset "utf -8";
    /*css Document*/
    .about.container {
        width: 480px;
        height: 760px;
        background-color: midnightblue;

        display: flex;
        bottom: 200px;
        text-align: center;
    }

    .aboutPic{
        width: 130px;
        height: 100px;
        margin-left: 8px;


    }


    .about-text {
        width: 600px;
        alignment: center;

    }

    .about-text p:nth-child(1) {
        color: black;
        font-family: "myriad pro regular";
        font-weight: bold;
        font-size: 30px;
        line-height: 300px;



    }

    .about-text p:nth-child(2) {
        color: lightseagreen;
        font-size: 20px;
        font-family: "myriad pro regular";
        font-weight: bold;
        line-height: 20px;




    }

    .about-text p:nth-child(3),
    .about-text p:nth-Child(4) {
        color: white;
        font-family: Calibri;
        font-size: 15px;
        font-weight: bold;
        text-align: center;

    }

}




@media all and (width: 425px) {

    @charset "utf -8";
        /*css Document*/
    .about.container {
        width: 470px;
        height: 760px;
        background-color: midnightblue;

        display: flex;
        bottom: 200px;
        text-align: center;
    }

    .aboutPic{
        width: 130px;
        height: 100px;
        margin-left: 8px;


    }


    .about-text {
        width: 600px;
        alignment: center;


    }

    .about-text p:nth-child(1) {
        color: black;
        font-family: "myriad pro regular";
        font-weight: bold;
        font-size: 30px;
        line-height: 300px;



    }

    .about-text p:nth-child(2) {
        color: lightseagreen;
        font-size: 20px;
        font-family: "myriad pro regular";
        font-weight: bold;
        line-height: 20px;




    }

    .about-text p:nth-child(3),
    .about-text p:nth-Child(4) {
        color: white;
        font-family: Calibri;
        font-size: 15px;
        font-weight: bold;
        text-align: center;

    }

}



@media all and (width: 768px) {

        @charset "utf -8";
            /*css Document*/
            .about.container {
                width: 100%;
                height: 650px;
                background-color: midnightblue;
                box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
                display: flex;
                margin: -7% auto 20px auto;
                position: relative;
                justify-content: space-evenly;
                align-items: center;


            }

            .aboutPic{
            height: 200px;
                width: 200px;
            }

            .about-text {
                width: 500px;
            }

            .about-text p:nth-child(1) {
                color: black;
                font-family: "myriad pro regular";
                font-weight: bold;
                font-size: 35px;
                line-height: 5px;

            }

            .about-text p:nth-child(2) {
                color: lightseagreen;
                font-size: 20px;
                font-family: "myriad pro regular";
                font-weight: bold;
                line-height: 5px;
            }

            .about-text p:nth-child(3),
            .about-text p:nth-Child(4) {
                color: white;
                font-family: Calibri;
                font-size: 30px;
            }
        }


            @media all and (width: 1024px) {

            @charset "utf -8";
                /*css Document*/
                .about.container {
                    width: 100%;
                    height: 800px;
                    background-color: midnightblue;
                    box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
                    display: flex;
                    margin: -7% auto 20px auto;
                    position: relative;
                    justify-content: space-evenly;
                    align-items: center;


                }

                .aboutPic{
                    height: 200px;
                    width: 200px;
                }

                .about-text {
                    width: 500px;
                }

                .about-text p:nth-child(1) {
                    color: black;
                    font-family: "myriad pro regular";
                    font-weight: bold;
                    font-size: 35px;
                    line-height: 5px;

                }

                .about-text p:nth-child(2) {
                    color: lightseagreen;
                    font-size: 20px;
                    font-family: "myriad pro regular";
                    font-weight: bold;
                    line-height: 5px;
                }

                .about-text p:nth-child(3),
                .about-text p:nth-Child(4) {
                    color: white;
                    font-family: Calibri;
                    font-size: 30px;
                }
            }



@media all and (width: 1440px) {
                @charset "utf -8";
                    /*css Document*/
                    .about.container {
                        width: 100%;
                        height: 920px;
                        background-color: midnightblue;
                        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
                        display: flex;
                        margin: -7% auto 20px auto;
                        position: relative;
                        justify-content: space-evenly;
                        align-items: center;

                    }

                    .about-container img {
                        height: 120px;

                    }

                    .about-text {
                        width: 500px;
                    }

                    .about-text p:nth-child(1) {
                        color: #FFFFFF;
                        font-family: "myriad pro regular";
                        font-weight: bold;
                        font-size: 35px;
                        line-height: 0px;

                    }

                    .about-text p:nth-child(2) {
                        color: lightseagreen;
                        font-size: 20px;
                        font-family: "myriad pro regular";
                        font-weight: bold;
                        line-height: 5px;
                    }

                    .about-text p:nth-child(3),
                    .about-text p:nth-Child(4) {
                        color: #000000;
                        font-family: Calibri;
                        font-size: 30px;
                    }
                }





@media all and (width: 2560px) {
@charset "utf -8";
    /*css Document*/
    .about.container {
        width: 100%;
        height: 920px;
        background-color: midnightblue;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
        display: flex;
        margin: -7% auto 20px auto;
        position: relative;
        justify-content: space-evenly;
        align-items: center;

    }

    .about-container img {
        height: 120px;

    }

    .about-text {
        width: 500px;
    }

    .about-text p:nth-child(1) {
        color: #FFFFFF;
        font-family: "myriad pro regular";
        font-weight: bold;
        font-size: 35px;
        line-height: 0px;

    }

    .about-text p:nth-child(2) {
        color: lightseagreen;
        font-size: 20px;
        font-family: "myriad pro regular";
        font-weight: bold;
        line-height: 5px;
    }

    .about-text p:nth-child(3),
    .about-text p:nth-Child(4) {
        color: #000000;
        font-family: Calibri;
        font-size: 30px;
    }
}
