@charset "utf -8";
/*css Document*/

.contact-me{
    width: 100%;
    height: 580px;
    background-color: black;
    background-size:auto;
    background-repeat:no-repeat;
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items:center;

}

.contact-me p{
    color: #FFFFFF;
    font-size:50px;
    font-family: Calibri;
    font-weight: bold;
    border-bottom: 2px solid #FFFFFF;

}
.contact-me button{
    width: 200px;
    height: 40px;
    background-color: #FFFFFF;
    outline: none;
    border:none ;
    font-size: 25px;
    font-weight: bold;
}

.Comments {
    width: 1000px;
    height: 50px;
    background-color: black;
    color: aliceblue;
    align-content: center;
    padding: 100px;
    margin: 20px;
    border: 2px solid red;
}




@media all and (width: 320px) {

@charset "utf -8";
    /*css Document*/
    .contact-me {
        width: 100%;
        height: 580px;
        background-color: black;
        background-size: auto;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }


    .contact-me p{
        color: #FFFFFF;
        font-size:50px;
        font-family: Calibri;
        font-weight: bold;
        border-bottom: 2px solid #FFFFFF;

    }
    .contact-me button{
        width: 200px;
        height: 40px;
        background-color: #FFFFFF;
        outline: none;
        border:none ;
        font-size: 25px;
        font-weight: bold;
    }

    .Comments{
        width: 1000px;
        height: 50px;
        background-color: black;
        color: aliceblue;
        align-content: center;
        padding: 100px;
        margin: 20px;
        border: 2px solid red;

    }
}



@media all and (width: 375px) {

@charset "utf -8";
    /*css Document*/
    .contact-me {
        width: 100%;
        height: 580px;
        background-color: black;
        background-size: auto;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

    }

    .contact-me p {
        color: #FFFFFF;
        font-size: 50px;
        font-family: Calibri;
        font-weight: bold;
        border-bottom: 2px solid #FFFFFF;

    }

    .contact-me button {
        width: 200px;
        height: 40px;
        background-color: #FFFFFF;
        outline: none;
        border: none;
        font-size: 25px;
        font-weight: bold;
    }

    .Comments {
        width: 1000px;
        height: 50px;
        background-color: black;
        color: aliceblue;
        align-content: center;
        padding: 100px;
        margin: 20px;
        border: 2px solid red;

    }
}


    @media all and (width: 425px) {

    @charset "utf -8";
        /*css Document*/
        .contact-me {
            width: 100%;
            height: 580px;
            background-color: black;
            background-size: auto;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .contact-me p {
            color: #FFFFFF;
            font-size: 50px;
            font-family: Calibri;
            font-weight: bold;
            border-bottom: 2px solid #FFFFFF;

        }

        .contact-me button {
            width: 200px;
            height: 40px;
            background-color: #FFFFFF;
            outline: none;
            border: none;
            font-size: 25px;
            font-weight: bold;
        }

        .Comments {
            width: 1000px;
            height: 50px;
            background-color: black;
            color: aliceblue;
            align-content: center;
            padding: 100px;
            margin: 20px;
            border: 2px solid red;

        }
    }


    @media all and (width: 768px) {

    @charset "utf -8";
        /*css Document*/
        .contact-me {
            width: 100%;
            height: 580px;
            background-color: black;
            background-size: auto;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .contact-me p {
            color: #FFFFFF;
            font-size: 50px;
            font-family: Calibri;
            font-weight: bold;
            border-bottom: 2px solid #FFFFFF;

        }

        .contact-me button {
            width: 200px;
            height: 40px;
            background-color: #FFFFFF;
            outline: none;
            border: none;
            font-size: 25px;
            font-weight: bold;
        }

        .Comments {
            width: 1000px;
            height: 50px;
            background-color: black;
            color: aliceblue;
            align-content: center;
            padding: 100px;
            margin: 20px;
            border: 2px solid red;

        }
    }

    @media all and (width: 1024px) {

    @charset "utf -8";
        /*css Document*/
        .contact-me {
            width: 100%;
            height: 580px;
            background-color: black;
            background-size: auto;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .contact-me p {
            color: #FFFFFF;
            font-size: 50px;
            font-family: Calibri;
            font-weight: bold;
            border-bottom: 2px solid #FFFFFF;

        }

        .contact-me button {
            width: 200px;
            height: 40px;
            background-color: #FFFFFF;
            outline: none;
            border: none;
            font-size: 25px;
            font-weight: bold;
        }

        .Comments {
            width: 1000px;
            height: 50px;
            background-color: black;
            color: aliceblue;
            align-content: center;
            padding: 100px;
            margin: 20px;
            border: 2px solid red;

        }
    }

    @media all and (width: 1440px) {

    @charset "utf -8";
        /*css Document*/
        .contact-me {
            width: 100%;
            height: 580px;
            background-color: black;
            background-size: auto;
            background-repeat: no-repeat;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

        }

        .contact-me p {
            color: #FFFFFF;
            font-size: 50px;
            font-family: Calibri;
            font-weight: bold;
            border-bottom: 2px solid #FFFFFF;

        }

        .contact-me button {
            width: 200px;
            height: 40px;
            background-color: #FFFFFF;
            outline: none;
            border: none;
            font-size: 25px;
            font-weight: bold;
        }

        .Comments {
            width: 1000px;
            height: 50px;
            background-color: black;
            color: aliceblue;
            align-content: center;
            padding: 100px;
            margin: 20px;
            border: 2px solid red;

        }
    }

