@charset "utf -8";
/*css Document*/

body{
    background-color:#000000;


}

ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{

    width:100%;
    height:90vh;

    background-repeat:no-repeat;
    background-size:cover;

}

nav {

    width: 100%;
    position: absolute;
    display:flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: yellow;
    box-shadow:2px 2px 12px rgba(0,0,0,0.2);
}

nav ul{

    display: flex;
}

nav ul li a{

    margin: 30px;
    font-family: myriad pro regular;
    color: #505050;
    font-size:25px;
    font-weight:700;

}

.logo{
    font-family: "Brush Script MT";
    color:revert;
    font-size:22px ;
    border-bottom: 3px solid black;
    border-top: 3px solid black;
    border-left: 3px solid black ;
    border-right: 3px solid black ;
}

.active{
    font-weight: bold;
    color:#2d2a2a;
}
.text-container p:nth-child(1){
    font-family: Calibri;
    font-weight: bold;
    color: white;
    font-size:22px;

}

.text-container p:nth-child(2){
    font-family: Calibri;
    font-weight:bold ;
    letter-spacing: 1px;
    color: #FFFFFF;
    font-size:60px;
}

.text-container p:nth-child(3){
    font-family: "myriad pro regular";
    color:#0808D9;
    font-size: 30px;
    line-height: 30px;
}
.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;

}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%,-42%);
}

.text-container button{
    width:130px;
    height:42px;
    border-radius:10px;
    font-family: Calibri;
    font-weight: bold;
    font-size: 20px;
    outline: none;
    margin:0px 10px;

}

.hire-btn{
    border:2px solid #373636;
    color :#373636;
}

.down-cv{
    background-color:#373636;
    color: #FFFFFF;
    border:none ;

}
button:active{
    transform:scale(1.1) ;
}

.model{

    height:450px;
    position:absolute ;
    bottom:210px;
    left:75%;
    border-radius:500px;
    transform: translate(-45%);
}













@media all and (width: 320px){

@charset "utf -8";
    /*css Document*/

    body{
        background-color:#000000;
        width: 320px;


    }

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    section{

        width:100%;
        height:130vh;

        background-repeat:no-repeat;
        background-size:cover;

    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 320px;
        background-color: #FFFFFF;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    }

    nav ul{
        display: flex;
    }

    nav ul li a{
        margin: 5px;
        font-family: myriad pro regular;
        color: #505050;
        font-size:10px;
        font-weight:400;


    }

    .logo{
        font-family: "Brush Script MT";
        color:revert;
        font-size:15px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black ;
        border-right: 3px solid black ;
    }

    .active{
        font-weight: bold;
        color:#2d2a2a;

    }
    .text-container p:nth-child(1){
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size:20px;
        bottom:100px;

    }

    .text-container p:nth-child(2){
        font-family: Calibri;
        font-weight:bold ;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size:20px;

    }

    .text-container p:nth-child(3){
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 20px;
        line-height: 30px;


    }
    .text-container p{
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container{
        position: absolute;
        left: 13%;
        top: 35%;

    }

    .text-container button{
        width:130px;
        height:42px;
        border-radius:20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin:0px 10px;

    }

    .hire-btn{


        color :#373636;

    }

    .down-cv{

        background-color:#373636;
        color: #FFFFFF;

    ;


    }
    button:active{
        transform:scale(1.1) ;
    }

    .model{
        height:100px;
        position:absolute ;
        bottom:320px;
        left:80%;
        border-radius:100px;


    }







    .Bottom{
        background-size: auto;
        background-color: black;
    }
}





@media all and (width: 375px){

@charset "utf -8";
    /*css Document*/

    body{
        background-color:#000000;
        width: 320px;


    }

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    section{

        width:100%;
        height:130vh;

        background-repeat:no-repeat;
        background-size:cover;

    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 320px;
        background-color: #FFFFFF;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    }

    nav ul{
        display: flex;
    }

    nav ul li a{
        margin: 5px;
        font-family: myriad pro regular;
        color: #505050;
        font-size:10px;
        font-weight:400;


    }

    .logo{
        font-family: "Brush Script MT";
        color:revert;
        font-size:15px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black ;
        border-right: 3px solid black ;
    }

    .active{
        font-weight: bold;
        color:#2d2a2a;

    }
    .text-container p:nth-child(1){
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size:20px;
        bottom:100px;

    }

    .text-container p:nth-child(2){
        font-family: Calibri;
        font-weight:bold ;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size:20px;

    }

    .text-container p:nth-child(3){
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 20px;
        line-height: 30px;


    }
    .text-container p{
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container{
        position: absolute;
        left: 13%;
        top: 35%;

    }

    .text-container button{
        width:130px;
        height:42px;
        border-radius:20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin:0px 10px;

    }

    .hire-btn{


        color :#373636;

    }

    .down-cv{

        background-color:#373636;
        color: #FFFFFF;

    ;


    }
    button:active{
        transform:scale(1.1) ;
    }

    .model{
        height:100px;
        position:absolute ;
        bottom:320px;
        left:80%;
        border-radius:100px;


    }







    .Bottom{
        background-size: auto;
        background-color: black;
    }
}



@media all and (width: 425px){

@charset "utf -8";
    /*css Document*/

    body{
        background-color:#000000;


    }

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    section{

        width:100%;
        height:130vh;

        background-repeat:no-repeat;
        background-size:cover;

    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 50px;
        width: 470px;
        background-color: #FFFFFF;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    }

    nav ul{
        display: flex;
    }

    nav ul li a{
        margin: 20px;
        font-family: myriad pro regular;
        color: #505050;
        font-size:15px;
        font-weight:500;

    }

    .logo{
        font-family: "Brush Script MT";
        color:revert;
        font-size:15px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black ;
        border-right: 3px solid black ;
    }

    .active{
        font-weight: bold;
        color:#2d2a2a;
    }
    .text-container p:nth-child(1){
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size:30px;
        bottom:100px;

    }

    .text-container p:nth-child(2){
        font-family: Calibri;
        font-weight:bold ;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size:20px;

    }

    .text-container p:nth-child(3){
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 30px;
        line-height: 30px;

    }
    .text-container p{
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container{
        position: absolute;
        left: 13%;
        top: 35%;

    }

    .text-container button{
        width:130px;
        height:42px;
        border-radius:20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin:0px 20px;

    }

    .hire-btn{


        color :#373636;

    }

    .down-cv{

        background-color:#373636;
        color: #FFFFFF;

    ;


    }
    button:active{
        transform:scale(1.1) ;
    }

    .model{
        height:150px;
        position:absolute ;
        bottom:300px;
        left:90%;
        border-radius:100px;


    }









    .Bottom{
        background-size: auto;
        background-color: black;
    }
}



@media all and (width: 768px){

@charset "utf -8";
    /*css Document*/

    body{
        background-color:#000000;


    }

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    section{

        width:100%;
        height:90vh;

        background-repeat:no-repeat;
        background-size:cover;

    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 767px;
        background-color: #FFFFFF;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    }

    nav ul{
        display: flex;
    }

    nav ul li a{
        margin: 20px;
        font-family: myriad pro regular;
        color: #505050;
        font-size:20px;
        font-weight:500;

    }

    .logo{
        font-family: "Brush Script MT";
        color:revert;
        font-size:15px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black ;
        border-right: 3px solid black ;
    }

    .active{
        font-weight: bold;
        color:#2d2a2a;
    }
    .text-container p:nth-child(1){
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size:20px;
        bottom:100px;

    }

    .text-container p:nth-child(2){
        font-family: Calibri;
        font-weight:bold ;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size:20px;

    }

    .text-container p:nth-child(3){
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 20px;
        line-height: 30px;

    }
    .text-container p{
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container{
        position: absolute;
        left: 13%;
        top: 35%;

    }

    .text-container button{
        width:130px;
        height:42px;
        border-radius:20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin:0px 20px;

    }

    .hire-btn{


        color :#373636;

    }

    .down-cv{

        background-color:#373636;
        color: #FFFFFF;

    ;


    }
    button:active{
        transform:scale(1.1) ;
    }

    .model{
        height:180px;
        position:absolute ;
        bottom:260px;
        left:80%;
        border-radius:100px;


    }









    .Bottom{
        background-size: auto;
        background-color: black;
    }
}





@media all and (width: 1024px){

@charset "utf -8";
    /*css Document*/

    body{
        background-color:#000000;


    }

    ul{
        list-style: none;
    }
    a{
        text-decoration: none;
    }
    section{

        width:100%;
        height:90vh;

        background-repeat:no-repeat;
        background-size:cover;

    }

    nav {
        display:flex;
        justify-content: space-between;
        align-items: center;
        height: 60px;
        width: 1024px;
        background-color: #FFFFFF;
        box-shadow:2px 2px 12px rgba(0,0,0,0.2);
    }

    nav ul{
        display: flex;
    }

    nav ul li a{
        margin: 20px;
        font-family: myriad pro regular;
        color: #505050;
        font-size:20px;
        font-weight:500;

    }

    .logo{
        font-family: "Brush Script MT";
        color:revert;
        font-size:20px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black ;
        border-right: 3px solid black ;
    }

    .active{
        font-weight: bold;
        color:#2d2a2a;
    }
    .text-container p:nth-child(1){
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size:30px;
        bottom:100px;

    }

    .text-container p:nth-child(2){
        font-family: Calibri;
        font-weight:bold ;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size:20px;

    }

    .text-container p:nth-child(3){
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 30px;
        line-height: 30px;

    }
    .text-container p{
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container{
        position: absolute;
        left: 13%;
        top: 35%;

    }

    .text-container button{
        width:130px;
        height:42px;
        border-radius:20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin:0px 20px;

    }

    .hire-btn{


        color :#373636;

    }

    .down-cv{

        background-color:#373636;
        color: #FFFFFF;

    ;


    }
    button:active{
        transform:scale(1.1) ;
    }

    .model{
        height:280px;
        position:absolute ;
        bottom:260px;
        left:80%;
        border-radius:150px;


    }






    .Bottom{
        background-size: auto;
        background-color: black;
    }
}


@media all and (width: 1440px) {

@charset "utf -8";
    /*css Document*/
    body {
        background-color: #000000;


    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    section {

        width: 100%;
        height: 90vh;

        background-repeat: no-repeat;
        background-size: cover;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        margin: 30px;
        font-family: myriad pro regular;
        color: #505050;
        font-size: 20px;
        font-weight: 700;

    }

    .logo {
        font-family: "Brush Script MT";
        color: revert;
        font-size: 22px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;
    }

    .active {
        font-weight: bold;
        color: #2d2a2a;
    }

    .text-container p:nth-child(1) {
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size: 22px;

    }

    .text-container p:nth-child(2) {
        font-family: Calibri;
        font-weight: bold;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size: 60px;
    }

    .text-container p:nth-child(3) {
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 30px;
        line-height: 30px;
    }

    .text-container p {
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container {
        position: absolute;
        left: 13%;
        top: 42%;

    }

    .text-container button {
        width: 130px;
        height: 42px;
        border-radius: 20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin: 0px 20px;

    }

    .hire-btn {

        border: none;
        color: #373636;

    }

    .down-cv {

        background-color: #373636;
        color: #FFFFFF;
        border: none;


    }

    button:active {
        transform: scale(1.1);
    }

    .model {
        height: 450px;
        position: absolute;
        bottom: 150px;
        left: 75%;
        border-radius: 500px;
        transform: translate(-45%);
    }



    .Bottom {
        background-size: auto;
        background-color: black;
    }
}



@media all and (width: 2560px) {

@charset "utf -8";
    /*css Document*/
    body {
        background-color: #000000;


    }

    ul {
        list-style: none;
    }

    a {
        text-decoration: none;
    }

    section {

        width: 100%;
        height: 90vh;

        background-repeat: no-repeat;
        background-size: cover;

    }

    nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 70px;
        background-color: #FFFFFF;
        box-shadow: 2px 2px 12px rgba(0, 0, 0, 0.2);
    }

    nav ul {
        display: flex;
    }

    nav ul li a {
        margin: 30px;
        font-family: myriad pro regular;
        color: #505050;
        font-size: 20px;
        font-weight: 700;

    }

    .logo {
        font-family: "Brush Script MT";
        color: revert;
        font-size: 22px;
        border-bottom: 3px solid black;
        border-top: 3px solid black;
        border-left: 3px solid black;
        border-right: 3px solid black;
    }

    .active {
        font-weight: bold;
        color: #2d2a2a;
    }

    .text-container p:nth-child(1) {
        font-family: Calibri;
        font-weight: bold;
        color: white;
        font-size: 22px;

    }

    .text-container p:nth-child(2) {
        font-family: Calibri;
        font-weight: bold;
        letter-spacing: 1px;
        color: #FFFFFF;
        font-size: 60px;
    }

    .text-container p:nth-child(3) {
        font-family: "myriad pro regular";
        color: #2cddff;
        font-size: 30px;
        line-height: 30px;
    }

    .text-container p {
        line-height: 0px;
        margin: 45px 0px 25px;

    }

    .text-container {
        position: absolute;
        left: 13%;
        top: 42%;

    }

    .text-container button {
        width: 130px;
        height: 42px;
        border-radius: 20px;
        border-color: #ff001c;
        font-family: Calibri;
        font-weight: bold;
        font-size: 20px;
        outline: none;
        margin: 0px 20px;

    }

    .hire-btn {

        border: none;
        color: #373636;

    }

    .down-cv {

        background-color: #373636;
        color: #FFFFFF;
        border: none;


    }

    button:active {
        transform: scale(1.1);
    }

    .model {
        height: 450px;
        position: absolute;
        bottom: 400px;
        left: 75%;
        border-radius: 500px;
        transform: translate(-45%);
    }



    .Bottom {
        background-size: auto;
        background-color: black;
    }
}





