@charset "utf -8";
#chart3{
    position: absolute;
    top: 2550px;
    height: 800px;
    width: 76vw;
    background-color: black;
    margin-left: 100px;
    margin-bottom: 100px;
    align-items: center;

}/*css Document*/


#myprojects{
    position: relative;
    font-family: Arial;
    color: blue;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 75px;
}

.cps{
    position: absolute;
    top: 400px;
    left: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);


}

.hms{
    position: absolute;
    right: 550px;
    
}

.ca{
    position: absolute;
    top: 400px;
    right: 150px;

}

.more-projects{
    position: absolute;
    top: 550px;
    right: 650px;
    color: #0a58ca;

}