@charset "utf -8";
#chart3{
    position: absolute;
    top: 2550px;
    height: 800px;
    width: 76vw;
    background-color: black;
    margin-left: 100px;
    margin-bottom: 100px;
    align-items: center;

}/*css Document*/


#myprojects{
    position: relative;
    font-family: Arial;
    color: blue;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 75px;
}

.cps{
    position: absolute;
    top: 400px;
    left: 100px;
    box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
    border-top:6px green solid;
    border-right:6px green solid;
    border-bottom :6px green solid;
    border-left:6px green solid;




}

.hms{
    top:420px;
    position: absolute;
    right: 550px;
    border-top:6px green solid;
    border-right:6px green solid;
    border-bottom :6px green solid;
    border-left:6px green solid;


}

.ca{
    position: absolute;
    top: 400px;
    right: 150px;
    border-top:6px green solid;
    border-right:6px green solid;
    border-bottom :6px green solid;
    border-left:6px green solid;


}

.more-projects{
    position: absolute;
    top: 750px;
    right: 650px;
    color: floralwhite;
    height: 50px;
    width: 150px;
    border-radius: 5%;
    font-size: 20px;
    background-color: #ff253a;

}
