@charset "utf -8";
/*css Document*/


#chart{
    position: absolute;
    top: 1550px;
    height: 85vh;
    width: 76vw;
    background-color: black;
    margin-left: 100px;
    align-items: center;

}



#skill{
    position: absolute;
    bottom: 680px;
    font-family: Arial;
    color: blue;
    margin-left: 25px;
    margin-top: 25px;
    font-size: 75px;

}


.allskill{
    list-style: none;
    color: white;
    font-family: Arial;
    margin-left: 100px;
    text-decoration: none;



}

.designset{
    font-family: Arial;
    color: white;
    font-size: 18px;
}

.design{

    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid white;
}

.designlist{
    list-style-type: none;
    margin-left: -40px;

}

.webset{

    margin-left: 300px;
    margin-top: -305px;
    font-size: 18px;

}

.web{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    display: inline-block;
    font-weight: bold;
    border-bottom: 3px solid white;
}

.weblist{
    list-style-type: none;
    margin-left: -40px;
}


.softwareset{
    margin-left: 800px;
    margin-top: -223px;
    font-size: 18px;


}

.software{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: inline-block;
    border-bottom: 3px solid white;
}

.softwarelist{
    color: white;
    list-style-type: none;
    margin-left: -40px;
}

#tool{
    font-family: Arial;
    color: blue;
    margin-left: 75px;
    font-size: 75px;

}

@media all and (width: 320px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 1300px;
        height: 30vh;
        width: 30vw;
        background-color: black;
        margin-left: 20px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 25px;
        font-size: 15px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .designlist {
        list-style-type: none;
        margin-left: -40px;

    }

    .webset {

        margin-left: 5px;
        margin-top: -1px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }


    /*.softwareset {*/
    /*    margin-left: 100px;*/
    /*    margin-top: -13px;*/
    /*    font-size: 18px;*/
    /*    top: 3000px;*/


    /*}*/

    /*.software {*/
    /*    color: white;*/
    /*    text-decoration: none;*/
    /*    text-transform: uppercase;*/
    /*    font-weight: bold;*/
    /*    display: inline-block;*/
    /*    border-bottom: 3px solid white;*/
    /*}*/

    /*.softwarelist {*/
    /*    color: white;*/
    /*    list-style-type: none;*/
    /*    margin-left: -40px;*/

    /*}*/

    /*#tool {*/
    /*    font-family: Arial;*/
    /*    color: blue;*/
    /*    margin-left: 75px;*/
    /*    font-size: 75px;*/

    /*}*/
}

@media all and (width: 375px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 1300px;
        height: 30vh;
        width: 30vw;
        background-color: black;
        margin-left: 20px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 25px;
        font-size: 15px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .designlist {
        list-style-type: none;
        margin-left: -40px;

    }

    .webset {

        margin-left: 5px;
        margin-top: -1px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }



}

@media all and (width: 425px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 1300px;
        height: 30vh;
        width: 30vw;
        background-color: black;
        margin-left: 20px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 25px;
        font-size: 15px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .designlist {
        list-style-type: none;
        margin-left: -40px;

    }

    .webset {

        margin-left: 5px;
        margin-top: -1px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }


    .softwareset {
        margin-left: 100px;
        margin-top: -13px;
        font-size: 18px;


    }

    .software {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .softwarelist {
        color: white;
        list-style-type: none;
        margin-left: -40px;
    }

    #tool {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 75px;

    }
}

@media all and (width: 768px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 1300px;
        height: 20vh;
        width: 76vw;
        background-color: black;
        margin-left: 10px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 15px;
        font-size: 75px;
        margin-top: 10px;
        margin-bottom: 10px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
        margin-left: -50px;

    }

    .designlist {
        list-style-type: none;
        margin-left: -85px;

    }

    .webset {

        margin-left: 200px;
        margin-top: -305px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }


    .softwareset {
        margin-left: 600px;
        margin-top: -223px;
        font-size: 18px;


    }

    .software {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .softwarelist {
        color: white;
        list-style-type: none;
        margin-left: -40px;
    }

    #tool {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 75px;

    }
}


@media all and (width: 1024px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 1500px;
        height: 20vh;
        width: 76vw;
        background-color: black;
        margin-left: 10px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 15px;
        font-size: 75px;
        margin-top: 10px;
        margin-bottom: 10px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
        margin-left: -50px;

    }

    .designlist {
        list-style-type: none;
        margin-left: -85px;

    }

    .webset {

        margin-left: 200px;
        margin-top: -305px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }


    .softwareset {
        margin-left: 600px;
        margin-top: -223px;
        font-size: 18px;


    }

    .software {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .softwarelist {
        color: white;
        list-style-type: none;
        margin-left: -40px;
    }

    #tool {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 75px;

    }
}


@media all and (width: 1440px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 1700px;
        height: 90vh;
        width: 76vw;
        background-color: black;
        margin-left: 50px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 85px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .designlist {
        list-style-type: none;
        margin-left: -40px;

    }

    .webset {

        margin-left: 300px;
        margin-top: -305px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }


    .softwareset {
        margin-left: 800px;
        margin-top: -223px;
        font-size: 18px;


    }

    .software {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .softwarelist {
        color: white;
        list-style-type: none;
        margin-left: -40px;
    }

    #tool {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 75px;

    }

}




@media all and (width: 2560px) {

@charset "utf -8";
    /*css Document*/
    #chart {
        position: absolute;
        top: 2300px;
        height: 90vh;
        width: 76vw;
        background-color: black;
        margin-left: 50px;
        align-items: center;

    }


    #skill {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 85px;

    }


    .allskill {
        list-style: none;
        color: white;
        font-family: Arial;
        margin-left: 100px;
        text-decoration: none;


    }

    .designset {
        font-family: Arial;
        color: white;
        font-size: 18px;
    }

    .design {

        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .designlist {
        list-style-type: none;
        margin-left: -40px;

    }

    .webset {

        margin-left: 300px;
        margin-top: -305px;
        font-size: 18px;

    }

    .web {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        display: inline-block;
        font-weight: bold;
        border-bottom: 3px solid white;
    }

    .weblist {
        list-style-type: none;
        margin-left: -40px;
    }


    .softwareset {
        margin-left: 800px;
        margin-top: -223px;
        font-size: 18px;


    }

    .software {
        color: white;
        text-decoration: none;
        text-transform: uppercase;
        font-weight: bold;
        display: inline-block;
        border-bottom: 3px solid white;
    }

    .softwarelist {
        color: white;
        list-style-type: none;
        margin-left: -40px;
    }

    #tool {
        font-family: Arial;
        color: blue;
        margin-left: 75px;
        font-size: 75px;

    }

}